.auth-container {
  width: 380px;
  margin: 80px auto;
  padding: 25px 28px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 18px;
  font-size: 26px;
  color: #333;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth-container input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.auth-container button {
  padding: 12px;
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-container button:hover {
  background-color: grey;
}
