.profile-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.profile-form .form-group {
  margin-bottom: 15px;
}

.profile-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-form input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button container */
.button-container {
  display: flex;
  justify-content: space-between; /* Left and right alignment */
  margin-top: 20px;
}

/* Update button */
.update-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* Submit button */
.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.update-btn:hover {
  background-color: rgb(94, 85, 85);
}

.submit-btn:hover {
  background-color: rgb(94, 85, 85);
}
